<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mention Légal</title>
</head>
<body>
    <section>
        <h2>Identité :</h2>
        <p>Corentin Catteau</p>
    </section>

    <section>
        <h2>Cordonnées :</h2>
        <div>
            <p>Domicile : Verquin 62131</p>
            <p>E-mail : corentin.catteau@outlook.fr</p>
            <p>Télephone : +33 7 XX XX XX XX</p>
        </div>
    </section>

    <section>
        <h2>Informations complémentaire :</h2>
        <div>
            <p>Directeur de la publication et de la rédaction: CATTEAU Corentin</p>
            <p>Hébergeur : GitHub</p>
            <p>Site de l'hébergeur : <a href="https://github.com/">https://github.com/</a></p>
        </div>
    </section>
</body>
</html>