<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style/styles.css" rel="stylesheet"/>
    <title>Projet - Share</title>
</head>
<body>
    <section class="section">
        <div class="boxed">
            <h1>Projet Share</h1>
            <p>
                Le projet Share est un projet réalisé pendant les heures de classes avec le framework Symfony et d'un SGBD MySql<br>
                Il est composé d'une gestion de fichiers, un CRUD (Create, Read, Update, Delete) de fichiers.<br>
                Avec une gestion de catégorie et sous catégorie pour classer les fichiers.<br>
                Il y a aussi un système d'authfication et de gestion des utilisateurs avec un système de rôles et une session Administrateur.<br>

            </p>
            <h3>Technologies utilisées :</h3>
                <div>
                    <img src="../asset/images/competences/symfony.png"  class="logo" alt="Logo Symfony"/>
                    <img src="../asset/images/competences/mysql.png" class="logo" alt="Logo MySQL"/>
                </div>

        </div>
    </section>
    
</body>
</html>